#large object
/Core/data/QA_Pairs/en_SiameseLSTM.h5
/Core/CNN/LUNA_alternative/Lung_cancer-master/Dataset/candidates.csv
/Core/CNN/Luna16_log/NoudleClassfy/resnet/model/resnet.pd-50000.data-00000-of-00001
/Core/data/QA_Pairs/.ipynb_checkpoints/quora_duplicate_questions-checkpoint.tsv
/Core/CNN/Luna16_log/segmeation/model/Vnet3d.pd-50000.data-00000-of-00001
